<%
  function _convertTokenToKey: (token) => {
    return token.replace(/(_|-| )+/ig, '-').toLowerCase();
  }
%>

<%
  const _APP_NAME = app.name || 'APP_NAME',
        _APP_PHOTO = app.photo || 'APP_PHOTO',
        _APP_ADDRESS = app.address || 'APP_ADDRESS',
        _TARGET_EMAIL = target.email || 'TARGET_EMAIL',
        _TARGET_TOKEN = target.token || 'TARGET_TOKEN';

  var _TARGET_VERIFICATION_URL = '#';

  if (_APP_NAME !== '' && _APP_NAME !== 'APP_NAME' && _TARGET_TOKEN !== '' && _TARGET_TOKEN !== 'TARGET_TOKEN'){
    _TARGET_VERIFICATION_URL = `${_APP_NAME.toLowerCase()}://verify/${_TARGET_TOKEN}`;
  }

  const _GLOBAL_FONT_FAMILY = 'font-family:Lato, \'Helvetica Neue\', Helvetica, Arial, sans-serif;',
        _GLOBAL_GRADIENT_COLOR = 'background: rgb(246,210,100);background: -moz-linear-gradient(135deg, rgba(246,210,100,1) 0%, rgba(253,161,136,1) 100%);background: -webkit-linear-gradient(135deg, rgba(246,210,100,1) 0%, rgba(253,161,136,1) 100%);background: linear-gradient(135deg, rgba(246,210,100,1) 0%, rgba(253,161,136,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6d264",endColorstr="#fda188",GradientType=1);';
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <!--[if !mso]><!-- -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <!--<![endif]-->
    <meta charset="utf-8">

    <title><%= _APP_NAME %> Verification</title>
    <style type="text/css">
      @media only screen and (max-width:600px) {
        .msg805761269038968617 .m_805761269038968617social_img_bottom_margin {
          margin-bottom: 20px !important
        }

        .msg805761269038968617 .m_805761269038968617social_p_bottom_margin {
          margin-bottom: 40px !important
        }
      }

      @media all {
        .msg805761269038968617 .m_805761269038968617ExternalClass {
          width: 100%
        }

        .msg805761269038968617 .m_805761269038968617ExternalClass,
        .msg805761269038968617 .m_805761269038968617ExternalClass p,
        .msg805761269038968617 .m_805761269038968617ExternalClass span,
        .msg805761269038968617 .m_805761269038968617ExternalClass font,
        .msg805761269038968617 .m_805761269038968617ExternalClass td,
        .msg805761269038968617 .m_805761269038968617ExternalClass div {
          line-height: 100%
        }

        .msg805761269038968617 .m_805761269038968617email_footer a {
          color: rgb(67, 66, 69) !important;
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          text-decoration: none !important
        }
      }

      .msg805761269038968617 body {
        background: rgb(255, 255, 255);
        font-size: 17px;
        line-height: 24px;
        margin: 0;
        padding: 0;
      }

      .msg805761269038968617 p li,
      .msg805761269038968617 ul li,
      .msg805761269038968617 ol li {
        list-style-position: inside;
        margin-left: 5px;
      }

      .msg805761269038968617 .m_805761269038968617preview_text {
        color: transparent;
        display: none;
        height: 0;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        width: 0;
        font-size: 1px;
        line-height: 1px;
      }

      .msg805761269038968617 .m_805761269038968617preview_text a {
        color: rgb(58, 163, 227) !important;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id=":7g" class="a3s aXjCH msg805761269038968617">
      <div style="<%= _GLOBAL_FONT_FAMILY %>">
        <table style="<%= _GLOBAL_FONT_FAMILY %>border-collapse:collapse;width:100%;background-color:#FFFFFF;padding-top:20px;color:#434245;border:0;text-align:center;" class="m_805761269038968617background_main">
          <tr>
            <td style="<%= _GLOBAL_FONT_FAMILY %>font-size:17px;line-height:24px;vertical-align:top;padding:0;">
              <center>
                <table id="m_805761269038968617body" class="m_805761269038968617card" style="<%= _GLOBAL_FONT_FAMILY %>border-collapse:collapse;width:100%;border:0;margin:0 auto;background:white;border-radius:0.5rem;margin-bottom:1rem;">
                  <tr>
                    <td style="<%= _GLOBAL_FONT_FAMILY %>font-size:17px;line-height:24px;vertical-align:top;width:546px;padding:32px;">
                      <div style="<%= _GLOBAL_FONT_FAMILY %>max-width:600px;margin:0 auto;">
                        <% if (_APP_PHOTO !== '' && _APP_PHOTO !== 'APP_PHOTO') { %>
                          <img style="border:none;max-width:100%;width:38px;height:38px;margin:0 0 15px 0;padding-right:30px;padding-left:30px;" src="<%= _APP_PHOTO %>" alt="" width="38" height="38" class="CToWUd">
                        <% } %>
                        <h1 style="color:#434245;font-weight:900;line-height:36px;margin:0;margin-bottom:12px;font-size:30px;letter-spacing:-0.75px;text-align:left;padding-right:30px;padding-left:30px;">Confirm you email to join <%= _APP_NAME %></h1>
                        <p style="<%= _GLOBAL_FONT_FAMILY %>padding-bottom:2px;font-size:17px;line-height:24px;font-weight:normal;margin:0;margin-bottom:15px;padding-right:30px;padding-left:30px;">
                          Hello! Once you've confirmed your email address, you'll be the newest member of your <%= _APP_NAME %> workspace. ✨
                        </p>

                        <% if (_TARGET_TOKEN !== '' && _TARGET_TOKEN !== 'TARGET_TOKEN') { %>
                          <div style="<%= _GLOBAL_FONT_FAMILY %>padding-right:30px;padding-left:30px;">
                            <table style="<%= _GLOBAL_FONT_FAMILY %>border-collapse:collapse;width:100%;" class="m_805761269038968617sm_table">
                              <tr style="width:100%;">
                                <td style="<%= _GLOBAL_FONT_FAMILY %>font-size:17px;line-height:24px;vertical-align:top;width:100%;">
                                  <span style="display:inline-block;border-radius:4px;<%= _GLOBAL_GRADIENT_COLOR %>" class="m_805761269038968617sm_full_width">
                                    <a class="m_805761269038968617button_link m_805761269038968617sm_full_width m_805761269038968617sm_border_box" href="<%= _TARGET_VERIFICATION_URL %>" style="color:#000;text-decoration:none !important;min-width:196px;border-top:13px solid;border-bottom:13px solid;border-right:24px solid;border-left:24px solid;border-color:transparent;border-radius:4px;background-color:transparent;font-size:18px;line-height:18px;word-break:break-word;display:inline-block;text-align:center;font-weight:900;" target="_blank">Confirm Email</a>
                                  </span>
                                </td>
                              </tr>
                            </table>
                          </div>
                        <% } %>

                        <p style="<%= _GLOBAL_FONT_FAMILY %>padding-bottom:2px;font-size:17px;line-height:24px;font-weight:normal;margin:0;margin-bottom:15px;padding-right:30px;padding-left:30px;">
                          If you have any questions, simply reply to this email. We'd love to help.
                        </p>
                      </div>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
          <tr>
            <td class="m_805761269038968617email_footer" style="<%= _GLOBAL_FONT_FAMILY %>font-size:15px;line-height:24px;vertical-align:top;color:#717274;text-align:center;width:100%;border-top:1px solid #E1E1E4;">
              <table style="<%= _GLOBAL_FONT_FAMILY %>border-collapse:collapse;width:100%;margin-top:20px;background-color:white;border:0;text-align:center;">
                <tr>
                  <td style="<%= _GLOBAL_FONT_FAMILY %>font-size:15px;line-height:24px;vertical-align:top;text-align:center;padding-top:20px;"></td>
                  <td style="<%= _GLOBAL_FONT_FAMILY %>font-size:15px;line-height:24px;vertical-align:top;text-align:center;padding-top:20px;">
                    <span style="font-size:15px;text-align:center;display:block;"> Made by
                      <a href="https://slack.com" style="font-size:15px;text-align:center;color:#434245;text-decoration:none;" target="_blank">
                        <%= _APP_NAME %>, Inc
                      </a>
                      <br>
                      <% if (_APP_ADDRESS !== '' && _APP_ADDRESS !== 'APP_ADDRESS') { %>
                        <%= _APP_ADDRESS %>
                      <% } %>
                    </span>
                  </td>
                  <td style="<%= _GLOBAL_FONT_FAMILY %>font-size:15px;line-height:24px;vertical-align:top;text-align:center;padding-top:20px;"></td>
                </tr>
                <tr>
                  <td style="<%= _GLOBAL_FONT_FAMILY %>font-size:15px;line-height:24px;vertical-align:top;text-align:center;padding-top:20px;"></td>
                  <td style="<%= _GLOBAL_FONT_FAMILY %>font-size:15px;line-height:24px;vertical-align:top;text-align:center;padding-top:20px;padding:16px 8px 24px;">
                    <span style="font-size:15px;text-align:center;">
                      <a href="https://<%= _convertTokenToKey(_APP_NAME) %>.com/stories" style="font-size:15px;text-align:center;color:#434245;text-decoration:none;" target="_blank">
                        Our Blog
                      </a>
                      <span style="font-size:15px;text-align:center;color:#D8D8D8;">&nbsp;•&nbsp;</span>
                      <a href="https://<%= _convertTokenToKey(_APP_NAME) %>.com/legal" style="font-size:15px;text-align:center;color:#434245;text-decoration:none;" target="_blank">
                         Policies
                      </a>
                    </span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
