<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('layouts/header', {
      page: {
        title: 'Dashboard'
      }
    }); %>
  <body data-source="dashboard<%= (typeof path != 'undefined')? `/${path}`: '' %>">
    <!-- Content -->
    <% if (typeof path != 'undefined'){ %>
      <% if (path === 'categories'){ %>
        <%- include('layouts/nav', { screen: 'دسته‌بندی‌ها' }); %>
        <%- include('dashboard/categories'); %>
      <% } %>
    <% }else{ %>
        <%- include('layouts/nav', { screen: 'داشبورد' }); %>
    <% } %>

    <%- include('layouts/footer'); %>
  </body>
</html>
